//DB
DB_HOST=localhost
DB_USERNAME=username
DB_PASSWORD=password
DB_NAME=skillswap

//JWT
ACCESS_TOKEN_KEY=secret-dev
ACCESS_TOKEN_EXPIRY=10m
REFRESH_TOKEN_KEY=secret-dev
REFRESH_TOKEN_EXPIRY=7d

//PORT
PORT=3000
HASH_SALT=10
